<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body class="min-h-screen"> 
    <div class="bg-yellow-400 justify-center flex p-2">
        <img src="assets/images/GeneBloc Logo.png" width="7%" class="animate-pulse"> 
    </div>
    

    <div class="flex justify-center mt-32">

        <div class="shadow-2xl w-1/2 rounded-3xl pb-8 transform hover:scale-105 transition duration-500">

            <!--HEADING-->

            <h1 class="text-center text-4xl font-semibold bg-yellow-400 rounded-t-3xl p-2">Sign in</h1>

            <!--FOR FORM ELEMENTS-->

            <form class="p-8 space-y-3">

                <label class="text-2xl">E-mail id</label>
                <input type="email" class="block border-yellow-400 bg-gray-200 border-2 p-3 w-full hover:border-black focus:border-opacity-0 " required>

                <label class="text-2xl">Password</label>
                <input type="password" class="block border-yellow-400 bg-gray-200 border-2 p-3 w-full hover:border-black focus:border-opacity-0" required>

            </form>

            <!--FOR BUTTONS-->

            <div class="flex justify-center flex-row space-x-10">  
                <button class="text-2xl text-white border-2 border-yellow-400 bg-gray-400 rounded-3xl p-2 hover:bg-yellow-400  hover:shadow-lg hover:scale-105 transform transition duration-500">Sign in</button>
                <button class="text-2xl text-white border-2 border-yellow-400 bg-gray-400 rounded-3xl p-2 hover:bg-yellow-400  hover:shadow-lg hover:scale-105 transform transition duration-500">Home Page</button>
            </div>

        </div>

    </div>

</body>
</html>



